/* Style for the Home button */
.btn-Home {
    -fx-background-color: #A7C584; /* Background color */
    -fx-text-fill: white; /* Text color */
    -fx-font-size: 16px; /* Font size */
    -fx-padding: 10px 20px; /* Padding around the text */
    -fx-border-radius: 8px; /* Rounded corners */
    -fx-transition: all 0.3s;
}

/* Hover effect */
.btn-Home:hover {
    -fx-background-color: #6B8A47; /* Darker background color on hover */
    -fx-cursor: hand; /* Change cursor to a hand pointer on hover */
}

/* Pressed effect */
.btn-Home:pressed {
    -fx-background-color: #F6C915; /* Even darker background color when pressed */
}

.background-image {
    -fx-background-image: url('pexels-ella-olsson-1640773.jpg');
    -fx-background-size: cover;
}

/* Apply styles to the VBox and its children */
VBox {
    -fx-background-color: #fdfdfd; /* Light gray background color */
    -fx-padding: 20; /* Add some padding to the VBox */
    -fx-border-color: #bdc3c7; /* Light border color */
    -fx-border-width: 2;
    -fx-border-radius: 10px; /* Rounded corners */
}
#vbox1 {
    -fx-background-color: #ffffff; /* Light gray background color */
    -fx-padding: 20; /* Add some padding to the VBox */
    -fx-border-color: #bdc3c7; /* Light border color */
    -fx-border-width: 2;
    -fx-border-radius: 10px; /* Rounded corners */
}

/* Apply styles to the Labels */
Label {
    -fx-font-size: 16px; /* Slightly larger font size for labels */
    -fx-font-weight: bold; /* Make labels bold */
    -fx-text-fill: #333; /* Dark gray text color */
}

/* Apply styles to the CheckBoxes */
CheckBox {
    -fx-font-size: 14px; /* Slightly larger font size for checkboxes */
    -fx-text-fill: #555; /* Dark gray text color for checkboxes */
}

/* Apply styles to the Apply Button */
Button {
    -fx-background-color: #F6C915; /* Light green background color for the button */
    -fx-text-fill: #000000; /* Text color for the button */
    -fx-font-size: 16px; /* Font size for the button */
    -fx-padding: 12px 24px; /* Padding for the button */
    -fx-border-radius: 12px; /* Rounded corners */
}

/* Apply hover effect to the Apply Button */
Button:hover {
    -fx-background-color: #EAE3C0; /* Darker green background color on hover */
}
