/* Style for the Home button */
.btn-Home {
    -fx-background-color: #3498db; /* Background color */
    -fx-text-fill: white; /* Text color */
    -fx-font-size: 14px; /* Font size */
    -fx-padding: 8px 16px; /* Padding around the text */
    -fx-border-radius: 5px; /* Rounded corners */
}

/* Hover effect */
.btn-Home:hover {
    -fx-background-color: #2980b9; /* Darker background color on hover */
    -fx-cursor: hand; /* Change cursor to a hand pointer on hover */
}

/* Pressed effect */
.btn-Home:pressed {
    -fx-background-color: #1f618d; /* Even darker background color when pressed */
}

/* Styling for the title label */
.title-label {
    -fx-font-size: 18px;
    -fx-text-fill: #2c3e50; /* Text color */
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 20px; /* Adjust padding as needed */
    -fx-max-width: 300px; /* Set a maximum width to limit text flow */
}
